body {
    background-color: white;
}

h1 {
    color: black;
    font-family:'Segoe UI';
    border-style: solid;
    padding: 1mm;
}

#main_title {
    float: left;
}

img:hover {
    filter: blur(5px);
}